<div class='ai-buttons grid'>
  <button type='button'>
    Run A.I. (Random)
  </button>
  <button type='button'>
    Run A.I. (RNN)
  </button>

  <label>
    <input type='checkbox'> Auto-Retry
  </label>
</div>
