.grid {
  display: grid; grid-gap: 0.5rem;
}
.grid-col {
  grid-auto-flow: column;
}
.ai-container {
  grid-template-columns: 400px 1fr;
  position: fixed; top: 0.5rem; left: 0.5rem; right: 0.5rem;
  background: white; color: black;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  border-radius: 0.25rem;
  font-size: 0.75rem;
}

.ai-buttons {
  grid-auto-flow: column;
}

.ai-score-over-time {
  display: flex;
  flex-direction: column-reverse;
}

.ct-legend {
  display: grid;
  grid-auto-flow: column;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  grid-gap: 0.5rem;
  font-weight: bold;
}

.ct-series-0,
.ct-series-a .ct-bar,
.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-slice-donut {
    stroke: #0CC162;
    color: #0CC162;
}
.ct-series-1,
.ct-series-b .ct-bar,
.ct-series-b .ct-line,
.ct-series-b .ct-point,
.ct-series-b .ct-slice-donut {
    stroke: #0C62C1;
    color: #0C62C1;
}

.container {
  margin-top: 8rem;
}

.ai-container dt {
  font-weight: 500;
}

.ai-container dl {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ai-container dd {
  margin-left: 0.25rem;
}

.ai-container label {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
}
